.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1.2rem;
  }
  
  .badge {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  
  .btn {
    width: 100%;
  }
  ::ng-deep.p-toast {
    z-index: 9999 !important; /* Đảm bảo toast luôn hiển thị trên cùng */
  }
  