<p-toast position="top-right" />
<p-confirmDialog></p-confirmDialog>
<div class="wrapper p-2 wrapper-content white-bg animated fadeIn mt-4">
  <div class="row mb-2 d-flex">
    <div class="col-2">
      <span>Tìm kiếm</span>
      <input class="form-control" [(ngModel)]="search.text" name="text" />
    </div>
    <div class="col-2 d-flex justify-content-between mt-4">
      <p-button styleClass="p-button-raised  p-button-success p-button-xs" (click)="LoadData()">Tìm kiếm</p-button>
    </div>
    <div class="col-8 d-flex justify-content-end mt-4">
      <p-button styleClass="p-button-raised p-button-primary p-button-xs me-4"
        (click)="ThemShowDialog(0)">Thêm</p-button>
      <!-- <p-button styleClass="p-button-raised p-button-warning p-button-xs me-4"
        (click)="ThemShowDialog(1)">Sửa</p-button> -->
      <p-button styleClass="p-button-raised p-button-danger p-button-xs" (click)="Xoa()">Xóa</p-button>
    </div>
  </div>


  <p-table [columns]="cols" [value]="DsSet" [paginator]="true" [rows]="25" [totalRecords]="totalRecords"
    [loading]="loading" (onLazyLoad)="loadDataLazy($event)"
    currentPageReportTemplate="Hiển thị {first} - {last} trong số {totalRecords} bản ghi"
    scrollHeight="calc(100vh - 20.5rem)" responsiveLayout="scroll" styleClass="p-datatable-gridlines p-datatable-sm"
    [(selection)]="selectedItem" dataKey="id" [scrollable]="true" showGridlines>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="grid_header_color sticky_header"
          [ngStyle]="{'width': '10px', 'text-align': 'center', 'min-height':'50px'}">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th class="grid_header_color sticky_header" *ngFor="let col of columns"
          [ngStyle]="{'width': col.width, 'text-align': 'center', 'min-height':'50px'}">
          {{col.title}}
        </th>
        <!-- <th class="grid_header_color sticky_header"> Tác vụ</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
      <tr>
        <td [ngStyle]="{'height': '5px','width': '10px', 'text-align': 'center'}">
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>

        <td *ngFor="let col of columns" [ngSwitch]="col.field" style="text-align: center;">
          <div *ngSwitchCase="'ngayTao'">
            <p>{{ rowData['ngayTao'] | date:'dd/MM/yyyy hh:mm:ss'}}</p>
          </div>
          <div *ngSwitchCase="'gia'">
            <p>{{ rowData['gia'] | number}}</p>
          </div>
          <div *ngSwitchCase="'url'">
            <img src="{{apiURL + rowData['url']}}" alt="" style="height: 75px; width: 125px;">
          </div>
          <div *ngSwitchCase="'stt'">
            <p>{{ index +1}}</p>
          </div>
          <p *ngSwitchDefault> {{ rowData[col.field] }}</p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>



<p-dialog header="Thêm Set" [(visible)]="displayDialog" [modal]="true" [style]="{width: '60vw'}">
  <form class="p-fluid">
    <div class="wrapper border p-2 wrapper-content white-bg animated fadeIn mt-4">
      <div class="row ">
        <div class="col-4">
          <label for="tenMonAn" class="form-label">Tên</label>
          <input id="tenMonAn" type="text" pInputText [(ngModel)]="monAn.tenMonAn" class="form-control" name="name" required=""/>
        </div>
        <div class="col-4">
          <label for="gia" class="form-label">Giá</label>
          <input id="gia" type="number" pInputText [(ngModel)]="monAn.gia" class="form-control" name="price" required=""/>
        </div>
      </div>
      <div class="row mt-2">
        <p-fileupload name="demo[]" [showUploadButton]="false" showCancelButton="false" (onSelect)="onSelect($event)"
          [multiple]="false" accept="image/*" maxFileSize="1000000" mode="advanced">
          <ng-template #empty>
            <div>Chọn hình ảnh.</div>
            <img *ngIf="monAn.url" [src]="monAn.url" alt="Hình ảnh món ăn" class="img-fluid mb-2"
              style="max-width: 200px;" />
          </ng-template>
          <ng-template #content>
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
          </ng-template>
        </p-fileupload>
      </div>
    </div>
  </form>
 <div class="wrapper-content d-flex justify-content-between mt-4">
  <label for="moTa" class="form-label">Danh sách món trong set</label>
  <button pButton type="button" label="Thêm món" icon="pi pi-plus" class="p-button-raised p-button-primary m-2"
    (click)="ThemMonAnVaoSet()"></button>
 </div>
  <p-table [columns]="colsMonAn" [value]="DsMonAnSelected"
    scrollHeight="calc(100vh - 37.5rem)" responsiveLayout="scroll" styleClass="p-datatable-gridlines p-datatable-sm"
    [(selection)]="selectedItem" dataKey="id" [scrollable]="true" showGridlines>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="grid_header_color sticky_header"
          [ngStyle]="{'width': '10px', 'text-align': 'center', 'min-height':'50px'}">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th class="grid_header_color sticky_header" *ngFor="let col of columns"
          [ngStyle]="{'width': col.width, 'text-align': 'center', 'min-height':'50px'}">
          {{col.title}}
        </th>
        <th class="grid_header_color sticky_header"> Tác vụ</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
      <tr>
        <td [ngStyle]="{'height': '5px','width': '10px', 'text-align': 'center'}">
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columns" [ngSwitch]="col.field" style="text-align: center;">
          <div *ngSwitchCase="'url'">
            <img src="{{apiURL + rowData['url']}}" alt="" style="height: 75px; width: 125px;">
          </div>
          <div *ngSwitchCase="'stt'">
            <p>{{ index +1}}</p>
          </div>
          <p *ngSwitchDefault> {{ rowData[col.field] }}</p>
        </td>
        <td>
          <button pButton type="button" icon="pi pi-trash" style="text-align: center;" class="p-button-rounded p-button-danger"
            (click)="XoaMonAn(rowData)"></button>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <div class="p-d-flex p-ai-center p-jc-between">
      <div class="d-flex justify-content-end mt-4">
        <p-button label="Hủy" styleClass="p-button-danger me-4" (click)="displayDialog=false"></p-button>
        <p-button label="Lưu" styleClass="p-button-success" (click)="saveMonAn()"></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog header="Xác nhận" [(visible)]="ShowDsMonAn " [modal]="true" [style]="{width: '35vw'}">
  <p-table [columns]="colsMonAn" [value]="DsMonAn"  [rows]="25" [totalRecords]="totalRecords"
  [loading]="loading" (onLazyLoad)="loadDataLazy($event)"
  scrollHeight="calc(100vh - 20.5rem)" responsiveLayout="scroll" styleClass="p-datatable-gridlines p-datatable-sm"
  [(selection)]="selectedItemMonAn" dataKey="id" [scrollable]="true" showGridlines>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="grid_header_color sticky_header"
        [ngStyle]="{'width': '10px', 'text-align': 'center', 'min-height':'50px'}">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th class="grid_header_color sticky_header" *ngFor="let col of columns"
        [ngStyle]="{'width': col.width, 'text-align': 'center', 'min-height':'50px'}">
        {{col.title}}
      </th>
      <!-- <th class="grid_header_color sticky_header"> Tác vụ</th> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
    <tr>
      <td [ngStyle]="{'height': '5px','width': '10px', 'text-align': 'center'}">
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>

      <td *ngFor="let col of columns" [ngSwitch]="col.field" style="text-align: center;">
        <div *ngSwitchCase="'url'">
          <img src="{{apiURL + rowData['url']}}" alt="" style="height: 75px; width: 125px;">
        </div>
        <div *ngSwitchCase="'stt'">
          <p>{{ index +1}}</p>
        </div>
        <p *ngSwitchDefault> {{ rowData[col.field] }}</p>
      </td>
    </tr>
  </ng-template>
</p-table>
<ng-template pTemplate="footer">
  <div class="p-d-flex p-ai-center p-jc-between">
    <div class="d-flex justify-content-end mt-4">
      <p-button label="Hủy" styleClass="p-button-danger me-4" (click)="ShowDsMonAn=false"></p-button>
      <p-button label="Chọn" styleClass="p-button-success" (click)="ChonMonAn()"></p-button>
    </div>
  </div>
</ng-template>
</p-dialog>