<nav class="navbar navbar-static-top border-bottom row" style="background-color: #ffff;">
    <div class="row d-flex align-items-center justify-content-between">
        <div class="col-2">
            <input type="checkbox" name="open" id="open">
            <label for="open" class="open">
                <i class="fa-solid fa-bars"></i>
            </label>
            <div class="menu">
                <div class="logo">
                    <a routerLink="/">
                        <img src="" alt="" style="object-fit: cover;">
                    </a>
                </div>
                <ul>
                    <li routerLinkActive="router-active">
                        <a routerLink="/home">
                            <span><i class="fas fa-home"></i></span>
                            Trang chủ
                        </a>
                    </li>
                    <li routerLinkActive="router-active">
                        <a routerLink="/nhan-vien">
                            <span><i class="fa-solid fa-user-group"></i></span>
                            Nhân viên
                        </a>
                    </li>
                    <li routerLinkActive="router-active" [routerLinkActiveOptions]="{ exact: true }">
                        <a [routerLink]="'/hoa-don'">
                            <span><i class="fa-solid fa-money-check"></i></span>
                            Hóa đơn
                        </a>
                    </li>
                    <li routerLinkActive="router-active">
                        <a routerLink="/dat-ban">
                            <span><i class=" fas fa-solid fa-file-contract"></i></span>
                            Đặt bàn
                        </a>
                    </li>
                    <li routerLinkActive="router-active">
                        <a routerLink="/bep">
                            <span><i class="fa-solid fa-fire-burner"></i></span>
                            Bếp
                        </a>
                    </li>
                    <li routerLinkActive="router-active">
                        <a routerLink="/doanh-thu">
                            <span><i class="fa-solid fa-chart-line"></i></span>
                            Doanh thu
                        </a>
                    </li>
                    <li routerLinkActive="router-active">
                        <a routerLink="/mon-an">
                            <span><i class="fa-solid fa-bowl-food"></i></span>
                            Món ăn
                        </a>
                    </li>
                    <li routerLinkActive="router-active">
                        <a routerLink="/set">
                            <span><i class="fa-solid fa-utensils"></i></span>
                            Combo-Set
                        </a>
                    </li>
                    <li routerLinkActive="router-active">
                        <a routerLink="/cau-hinh-ban">
                            <span><i class="fa-solid fa-gears"></i></span>
                            Cấu hình bàn
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <!-- <app-Breadcrumb></app-Breadcrumb> -->
        </div>
        <div class="col-5">
            <strong>Chào mừng bạn</strong>
        </div>
        <div class="col-2 d-flex d-flex align-items-center justify-content-end">
            <div style="margin-right: 30px;"> <i class="pi pi-bell text-2xl" pBadge value="2"></i></div>
            <span style="margin-right: 15px; cursor: pointer; " (click)="LogOut()"> <i class="pi pi-sign-out"></i> LogOut</span>
        </div>
    </div>
</nav>