<div class="cart-order">
  <p-button  badge="{{totalOrder}}" (click)="showHoaDonDialog()">Danh sách order</p-button>
</div>
<div class="menu-order">
  <div class="menu-tab">
    <ul class="menu-group">
      <li><a href="">Bufe - Combo</a></li>
      <li><a href="">Đồ ăn</a></li>
      <li><a href="">Đồ uống</a></li>
    </ul>
  </div>
  <div class="memu-item">
    <div class="food-item border p-2" *ngFor="let item of menulist">
      <img src="{{item.url}}" class="w-lg-225px rounded w-50">
      <div class="food-item-card card card-hover-border">
        <div class="food-item-details">
          <div class="d-flex flex-stack gap-5">
            <div class="d-flex flex-stack gap-2 mb-1">
              <span class="text-white  mb-3 fs-5 fw-bold">
                {{item.type==0?'Đồ ăn':'Buffe - Combo'}}
              </span>

            </div>
          </div>
          <div class="text-white mb-3 fs-1 fw-bold">
            <span class="mx-10">{{item.name}}</span>
          </div>
          <div class="d-flex align-items-center text-white mb-10 max-w-70px h-70px fw-bold"
            style="background: url('images/Frame-price.png'); background-repeat: no-repeat; padding: 8px 16px; font-size: 22px !important; height: 70px;">
            <span class="mx-10">{{item.gia |currency: 'VND'}} VND / Người</span>
          </div>
        </div>
        <div class="food-item-action">
          <div *ngIf="item.type===0" class="food-item-total">
              <button class="btn btn-outline-primary" (click)="addFood(item)">+</button>
              <input type="number" value="{{item.count}}"  style="margin-left: 15px;" disabled>
              <button class="btn btn-outline-danger" style="padding-left:15px; margin-left: 15px;" (click)="Remove(item)">-</button>
          </div>
          <button  *ngIf="item.type===2" class="btn btn-outline-primary"  (click)="ShowDanhSachMonAn(item.id)">Xem danh
            sách món</button>
          <button class="btn btn-outline-primary" [ngStyle]=" { 'margin-left': '20px' } " (click)="ThemVaoOrder(item)">Thêm vào
            order</button>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- danh sách món ăn trong buffe -->
<p-dialog header="{{setInMenu.name}}" [modal]="true" [(visible)]="visible" [style]="{ width: '75rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
  <div class="row">
    <div class="col-sm-3 border d-flex justify-content-md-center align-items-center" *ngFor="let monAn of setInMenu.monAn">
      <img src="{{monAn.url}}"  class="w-lg-225px rounded w-50">
      <h6 style=" margin-left: 15px;">{{monAn.name}}</h6>
    </div>
  </div>
  <ng-template #footer>
    <h4>{{setInMenu.gia | currency: 'VND' }} / người</h4>
    <button label="Quay lại" severity="secondary" class="btn btn btn-warning" (click)="visible = false">Quay
      lại</button>
  </ng-template>
</p-dialog>

<!-- nhưng món ăn trong hóa đơn -->

<p-dialog
    header="Danh sách món ăn đã chọn"
    [modal]="true"
    [(visible)]="showHoaDon">
    <table class="items-table">
      <thead>
          <tr>
              <th>Tên món</th>
              <th>Số lượng</th>
              <th>Giá</th>
              <th>Thành tiền</th>
              <th>Acction</th>
          </tr>
      </thead>
      <tbody *ngFor="let set of hoadon.set">
          <tr>
              <td>{{set.name}}</td>
              <td>{{set.soLuong}}</td>
              <td>{{set.gia | number}}/ người</td>
              <td>{{set.thanhTien | number}}vnđ</td>
              <td></td>
          </tr>
      </tbody>
      <tbody *ngFor="let monAn of hoadon.monAn">
        <tr>
            <td>{{monAn.name}}</td>
            <td>{{monAn.soLuong}}</td>
            <td>{{monAn.gia | number}} vnđ</td>
            <td>{{monAn.thanhTien | number}} vnđ</td>
            <td>
              <button class="btn btn-outline-primary" (click)="addFoodCache(monAn)">+</button>
              <button class="btn btn-outline-danger" style="margin-left: 15px;" (click)="RemoveFoodCache(monAn)">-</button>
          </td>
        </tr>
    </tbody>
    </table>
    <ng-template #footer>
      <h4>Tổng : {{Thanhtien | number}} vnđ</h4>
      <button label="Quay lại" severity="secondary" class="btn btn btn-warning" >Xác nhận</button>
    </ng-template>
</p-dialog>