<p-toast position="top-right" />
<p-confirmDialog></p-confirmDialog>
<div class="wrapper p-2 wrapper-content white-bg animated fadeIn mt-4">
  <div class="row mb-2 d-flex">
    <div class="col-2">
      <span>Tìm kiếm</span>
      <input class="form-control" [(ngModel)]="search.text" name="text" />
    </div>
    <div class="col-2 d-flex justify-content-between mt-4">
      <p-button styleClass="p-button-raised  p-button-success p-button-xs" (click)="LoadData()">Tìm kiếm</p-button>
    </div>
    <div class="col-8 d-flex justify-content-end mt-4">
      <p-button styleClass="p-button-raised p-button-primary p-button-xs me-4"
        (click)="ThemShowDialog(0)">Thêm</p-button>
      <!-- <p-button styleClass="p-button-raised p-button-warning p-button-xs me-4" (click)="ThemShowDialog(1)">Sửa</p-button> -->
      <p-button styleClass="p-button-raised p-button-danger p-button-xs" (click)="Xoa()">Xóa</p-button>
    </div>
  </div>


  <p-table [columns]="cols" [value]="DsBan" [paginator]="true" [rows]="25" [totalRecords]="totalRecords"
    [loading]="loading" (onLazyLoad)="loadDataLazy($event)"
    currentPageReportTemplate="Hiển thị {first} - {last} trong số {totalRecords} bản ghi"
    scrollHeight="calc(100vh - 20.5rem)" responsiveLayout="scroll" styleClass="p-datatable-gridlines p-datatable-sm"
    [(selection)]="selectedItem" dataKey="id" [scrollable]="true" showGridlines>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="grid_header_color sticky_header"
          [ngStyle]="{'width': '10px', 'text-align': 'center', 'min-height':'50px'}">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th class="grid_header_color sticky_header" *ngFor="let col of columns"
          [ngStyle]="{'width': col.width, 'text-align': 'center', 'min-height':'50px'}">
          {{col.title}}
        </th>
        <!-- <th class="grid_header_color sticky_header"> Tác vụ</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
      <tr>
        <td [ngStyle]="{'height': '5px','width': '10px', 'text-align': 'center'}">
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>

        <td *ngFor="let col of columns" [ngSwitch]="col.field" style="text-align: center;">
          <div *ngSwitchCase="'ngayTao'">
            <p>{{ rowData['ngayTao'] | date:'dd/MM/yyyy hh:mm:ss'}}</p>
          </div>
          <div *ngSwitchCase="'gia'">
            <p>{{ rowData['gia'] | number}}</p>
          </div>
          <div *ngSwitchCase="'trangThai'">
            <p-tag
            [severity]="rowData['trangThai']==1  ? 'success' : 'danger'"
            [value]="rowData['trangThai']==1  ? 'Đang sử dụng' : 'Chưa sử dụng'"
            [rounded]="true"></p-tag>
          </div>
          <div *ngSwitchCase="'url'">
            <img src="{{apiURL + rowData['url']}}" alt="" style="height: 75px; width: 125px;">
          </div>
          <div *ngSwitchCase="'stt'">
            <p>{{ index +1}}</p>
          </div>
          <p *ngSwitchDefault> {{ rowData[col.field] }}</p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>



<p-dialog header="Thêm bàn" [(visible)]="displayDialog" [modal]="true" [style]="{width: '35vw'}">
  <form class="p-fluid">
    <div class="mb-3">
      <label for="tenban" class="form-label">Tên</label>
      <input id="tenban" type="text" pInputText [(ngModel)]="ban.TenBan" class="form-control" name="name" />
    </div>
    <div class="mb-3">
      <label for="gia" class="form-label">Tầng</label>
      <input id="gia" type="text" pInputText [(ngModel)]="ban.Tang" class="form-control" name="price" />
    </div>
    <div class="d-flex justify-content-end mt-4">
      <p-button label="Hủy" styleClass="p-button-danger me-4" (click)="displayDialog=false"></p-button>
      <p-button label="Lưu" styleClass="p-button-success" (click)="saveban()"></p-button>
    </div>
  </form>

</p-dialog>