

<app-admin *ngIf="(isLoggedIn$ | async)" style="position: fixed; width: 100%; z-index: 99;" #navbar>
</app-admin>
<!-- <div>
    <router-outlet [ngStyle]="(isLoggedIn$ | async) ? { 'margin-top': '70px', 'color': 'white' } : {}"></router-outlet>
</div> -->
<div [ngClass]="{shownav: isLoggedIn$ | async}" [ngClass]="(isLoggedIn$ | async) ? 'body-wrapper' : ''">
    <div [ngClass]="(isLoggedIn$ | async) ? 'logged-in-container' : ''">
      <router-outlet  [ngClass]="(isLoggedIn$ | async) ? 'logged-in-router' : ''">
      </router-outlet>
    </div>
  </div>