
<p-table [columns]="cols" [value]="DsMonAn" [paginator]="true" [rows]="25" [totalRecords]="totalRecords"
[loading]="loading" (onLazyLoad)="loadDataLazy($event)"
currentPageReportTemplate="Hiển thị {first} - {last} trong số {totalRecords} bản ghi"
scrollHeight="calc(100vh - 20.5rem)" responsiveLayout="scroll" styleClass="p-datatable-gridlines p-datatable-sm"
[(selection)]="selectedItem" dataKey="id" [scrollable]="true" showGridlines>
<ng-template pTemplate="header" let-columns>
  <tr>
    <th class="grid_header_color sticky_header"
      [ngStyle]="{'width': '10px', 'text-align': 'center', 'min-height':'50px'}">
      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
    </th>
    <th class="grid_header_color sticky_header" *ngFor="let col of columns"
      [ngStyle]="{'width': col.width, 'text-align': 'center', 'min-height':'50px'}">
      {{col.title}}
    </th>
    <th class="grid_header_color sticky_header"> Tác vụ</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
  <tr>
    <td [ngStyle]="{'height': '5px','width': '10px', 'text-align': 'center'}">
      <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
    </td>

    <td *ngFor="let col of columns" [ngSwitch]="col.field" style="text-align: center;">
      <div *ngSwitchCase="'ngayTao'">
        <p>{{ rowData['ngayTao'] | date:'dd/MM/yyyy hh:mm:ss'}}</p>
      </div>
      <div *ngSwitchCase="'tongTien'">
        <p>{{ rowData['tongTien'] | number}}</p>
      </div>
      <div *ngSwitchCase="'stt'">
        <p>{{ index +1}}</p>
      </div>
      <div *ngSwitchCase="'thanhToan'">
        <p-tag
        [severity]="rowData['thanhToan']  ? 'success' : 'danger'"
        [value]="rowData['thanhToan']  ? 'Đã thanh toán' : 'Chưa thanh toán'"
        [rounded]="true">
      </p-tag>
      </div>
      <p *ngSwitchDefault> {{ rowData[col.field] }}</p>
    </td>
    <td>
      <p-button (click)="SelectRow(rowData,$event)" icon="pi pi-ellipsis-v" />
      <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
    </td>
  </tr>
</ng-template>
</p-table>