<div class="container">
  <div class="row">
    <div class="col-sm-2" *ngFor="let ban of banList" style=" padding-bottom: 15px;">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{ban.tenBan}}</h5>
          <span class="badge" [ngClass]="ban.trangThai? 'bg-warning' : 'bg-success'">
            {{ ban.trangThai  ? 'Đang sử dụng' : 'Sẵn sàng' }}
          </span>
          <button [ngClass]="ban.trangThai  ? 'btn btn-secondary mt-3' : 'btn btn-success mt-3'" [disabled]="ban.trangThai" (click)="DatBan(ban)">
            {{ ban.trangThai ? 'Không khả dụng' : 'Đặt bàn'  }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Tạo Order" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <form>
    <div class="mb-3">
      <label for="CustomerName" class="form-label">Tên khách hàng</label>
      <input type="CustomerName" name="CustomerName" class="form-control" id="CustomerName" aria-describedby="emailHelp" [(ngModel)]="OrderModle.TenKhachHang">
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Số điện thoại</label>
      <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="OrderModle.Phone">
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Số người</label>
      <input type="text" class="form-control" id="SoluongKH" name="SoluongKH" [(ngModel)]="OrderModle.SoluongKH">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="exampleCheck1" [(ngModel)]="OrderModle.CustomerExample" (ngModelChange)="AutoFilCustomer()">
      <label class="form-check-label" for="exampleCheck1">Sử dụng mặc định</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="CreateOrder()">Tạo Order</button>
  </form>
</p-dialog>