<!-- src/app/home/home.component.html -->

<div class="slide_main">
    <div class="slidex">
        <a title="Soowon BBQ">
            <img src="https://soowonbbq.com.vn/images/img/banner3_1e6dd.jpg" alt="Soowon BBQ" class="img_mo" />
        </a>
    </div>
</div>

<section class="about_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 block_ab12">
                <a class="block_ab" href="">
                    <img data-src="https://soowonbbq.com.vn/images/img/khonggiansoowonbbq1_1adc5.png" alt="" class="lazyload image" />
                </a>
            </div>

            <div class="col-sm-4 block_ab12">
                <a class="block_ab" href="">
                    <img data-src="https://soowonbbq.com.vn/images/img/khonggiansoowonbbq_1add1.png" alt="" class="lazyload image" />
                </a>
            </div>

            <div class="col-sm-4">
                <h1 class="gt_tp">Soowoon BBQ</h1>
                <div class="gt_tp1">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="assets/images/source/anhweb/Logo_5.png" alt="soowon" width="95" height="64" />
                        </div>
                        <div class="col-sm-9">
                            <p>Quán thịt nướng Hàn Quốc Ngon Số 1</p>
                        </div>
                    </div>
                </div>
                <p class="gt_tp2">
                    Nếu đã một lần thưởng thức thịt nướng tại Soonwon BBQ, bạn sẽ không thể quên được hương vị “ngất ngây” của những món sườn non bò Mỹ, nạc vai bò Mỹ, dẻ sườn tươi…. khi hòa quyện vào với các loại gia vị đặc trưng xứ Hàn đã trở nên hấp dẫn đến thế nào. Ngoài ra, những món ăn kèm không thể bỏ qua như cơm trộn, mỳ lạnh, canh Kimchi và các loại lẩu cũng sẽ làm bạn ấn tượng thêm về nền ẩm thực Hàn Quốc.
                </p>
                <p><a href="#" class="view_more">XEM THỰC ĐƠN</a></p>
            </div>
        </div>
    </div>
</section>

<section>
    <a data-fancybox class="grid_image fancybox-media ft-66" rel="fancybox-thumb" href="https://www.youtube.com/watch?v=bpLkYup9X2s&feature=youtu.be" style="border-radius: 0; min-height: 150px;">
        <img data-src="https://soowonbbq.com.vn/images/img/frame16861_d7cb.jpg" alt="" class="lazyload image" />
    </a>
</section>

<section>
    <div class="concept_ph">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="">
                        <div class="frame-parent9">
                            <div class="monthyear-parent16">
                                <div class="concept_ph1">HOTPOT</div>
                                <div class="concept">CONCEPT</div>
                            </div>
                            <div class="frame-child17"></div>
                            <img class="logo-icon1 lazyload image" alt="" data-src="https://soowonbbq.com.vn/images/img/logo_27e4e.png" />
                        </div>
                    </a>
                </div>

                <div class="col-sm-6">
                    <a href="">
                        <div class="frame-parent9">
                            <div class="monthyear-parent16">
                                <div class="concept_ph1">BBQ</div>
                                <div class="concept">CONCEPT</div>
                            </div>
                            <div class="frame-child17"></div>
                            <img class="logo-icon1 lazyload image" alt="" data-src="https://soowonbbq.com.vn/images/img/logo1_27e68.png" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
