<p-toast position="top-right" />
<p-confirmDialog></p-confirmDialog>
<div class="wrapper p-2 wrapper-content white-bg animated fadeIn mt-4">
  <div class="row mb-2 d-flex">
    <div class="col-2">
      <span>Tìm kiếm</span>
      <input class="form-control" [(ngModel)]="search.text" name="text" />
    </div>
    <div class="col-2 d-flex justify-content-between mt-4">
      <p-button styleClass="p-button-raised  p-button-success p-button-xs" (click)="LoadData()">Tìm kiếm</p-button>
    </div>
    <div class="col-8 d-flex justify-content-end mt-4">
      <p-button styleClass="p-button-raised p-button-primary p-button-xs me-4"
        (click)="ThemShowDialog(0)">Thêm</p-button>
      <p-button styleClass="p-button-raised p-button-warning p-button-xs me-4" (click)="ThemShowDialog(1)">Sửa</p-button>
      <p-button styleClass="p-button-raised p-button-danger p-button-xs" (click)="Xoa()">Xóa</p-button>
    </div>
  </div>


  <p-table [columns]="cols" [value]="DsNhanVien" [paginator]="true" [rows]="25" [totalRecords]="totalRecords"
    [loading]="loading" (onLazyLoad)="loadDataLazy($event)"
    currentPageReportTemplate="Hiển thị {first} - {last} trong số {totalRecords} bản ghi"
    scrollHeight="calc(100vh - 20.5rem)" responsiveLayout="scroll" styleClass="p-datatable-gridlines p-datatable-sm"
    [(selection)]="selectedItem" dataKey="id" [scrollable]="true" showGridlines>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="grid_header_color sticky_header"
          [ngStyle]="{'width': '10px', 'text-align': 'center', 'min-height':'50px'}">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th class="grid_header_color sticky_header" *ngFor="let col of columns"
          [ngStyle]="{'width': col.width, 'text-align': 'center', 'min-height':'50px'}">
          {{col.title}}
        </th>
        <th class="grid_header_color sticky_header"> Tác vụ</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
      <tr>
        <td [ngStyle]="{'height': '5px','width': '10px', 'text-align': 'center'}">
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>

        <td *ngFor="let col of columns" [ngSwitch]="col.field" style="text-align: center;">
          <div *ngSwitchCase="'ngayTao'">
            <p>{{ rowData['ngayTao'] | date:'dd/MM/yyyy hh:mm:ss'}}</p>
          </div>
          <div *ngSwitchCase="'gia'">
            <p>{{ rowData['gia'] | number}}</p>
          </div>
        
          <div *ngSwitchCase="'url'">
            <img src="{{apiURL + rowData['url']}}" alt="" style="height: 75px; width: 125px;">
          </div>
          <div *ngSwitchCase="'stt'">
            <p>{{ index +1}}</p>
          </div>
          <p *ngSwitchDefault> {{ rowData[col.field] }}</p>
        </td>
        <td>
          <p-button (click)="SelectRow(rowData,$event)" icon="pi pi-ellipsis-v" />
          <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<!-- Thêm sửa nhân viên -->
<p-dialog header="Thêm nhân viên" [(visible)]="displayDialog" [modal]="true" [style]="{width: '35vw'}">
  <form class="p-fluid">
    <div class="mb-3">
      <label for="name" class="form-label">Họ tên</label>
      <input id="name" type="text" pInputText [(ngModel)]="NhanVien.tenNhanvien" class="form-control" name="name" />
    </div>
    <div class="mb-3">
      <label for="manv" class="form-label">Mã nhân viên</label>
      <input id="manv" type="text" pInputText [(ngModel)]="NhanVien.maNhanvien" class="form-control" name="manv" />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Số điện thoại</label>
      <input id="phone" type="text" pInputText [(ngModel)]="NhanVien.phone" class="form-control" name="phone" />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input id="email" type="text" pInputText [(ngModel)]="NhanVien.email" class="form-control" name="email" />
    </div>
    <div class="mb-3">
      <label for="diachi" class="form-label">Địa chỉ</label>
      <input id="diachi" type="text" pInputText [(ngModel)]="NhanVien.address" class="form-control" name="diachi" />
    </div>
    <div class="mb-3">
      <label for="vitri" class="form-label">Vị trí</label>
      <input id="vitri" type="text" pInputText [(ngModel)]="NhanVien.viTri" class="form-control" name="vitri" />
    </div>
    <div class="mb-3">
      <label for="capbac" class="form-label">Cấp bậc</label>
      <input id="capbac" type="text" pInputText [(ngModel)]="NhanVien.capBac" class="form-control" name="capbac" />
    </div>
    <div class="d-flex justify-content-end mt-4">
      <p-button label="Hủy" styleClass="p-button-danger me-4" (click)="displayDialog=false"></p-button>
      <p-button label="Lưu" styleClass="p-button-success" (click)="saveNhanVien()"></p-button>
    </div>
  </form>

</p-dialog>

<!-- cập nhật ca làm việc cho nhân viên -->
<p-dialog header="Gán ca làm việc" [(visible)]="displayDialog" [modal]="true" [style]="{width: '35vw'}">
  <form class="p-fluid">
    <div class="mb-3">
      <label for="name" class="form-label">Họ tên</label>
      <input id="name" type="text" pInputText [(ngModel)]="NhanVien.tenNhanvien" class="form-control" name="name" readonly/>
    </div>
    <div class="mb-3">
      <label for="manv" class="form-label">Mã nhân viên</label>
      <input id="manv" type="text" pInputText [(ngModel)]="NhanVien.maNhanvien" class="form-control" name="manv" readonly/>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <p-button label="Hủy" styleClass="p-button-danger me-4" (click)="displayDialog=false"></p-button>
      <p-button label="Lưu" styleClass="p-button-success" (click)="saveNhanVien()"></p-button>
    </div>
  </form>

</p-dialog>